.vscode/

weatherPiModel
weatherPiModelContext

src/tests/test1
src/tests/test2
src/tests/test3
src/tests/test4
src/tests/test5
src/tests/test6
src/tests/test7
src/tests/test8
src/tests/test9
src/tests/test10
src/tests/test11
src/tests/test12
src/tests/test13